// :: SCSS : Header

@use "./scss-mixins";

.template-partial-header__fixed-ctas {
    //   border: 10px solid blue;
    display: inline-flex;
    position: fixed;
    right: 100px;


    right: 1rem;
    @include scss-mixins.for-size(tablet-landscape-up) {
        right: 2rem;
    }


    top: 500px;
    z-index: 100;
}
