@use "./scss-abstracts";
@use "./scss-mixins";

// .page-id-2 footer {
//   display: none;
// }

// https://css-tricks.com/couple-takes-sticky-footer/
footer,
.push {
  // @include scss-mixins.for-size(tablet-landscape-up) {
    height: 89px;
  // }
}



.template-footer{

  background-color: scss-abstracts.$brand-dark-grey;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  &-site-logo-group{
    // background-color: lightgreen;
    width: 40px;
    height: 40px;
    margin-bottom: .5rem;
    * {
      width: inherit;
      height: inherit;
    }
  }



}