@use "./scss-abstracts";
@use "./scss-mixins";

@keyframes spin-forwards-backwards {
  0% {
    transform: rotate(0deg);
  }

  //   5% {
  //     transform: rotate(0deg);
  //   }

  50% {
    transform: rotate(360deg);
  }

  51% {
    transform: rotate(360deg);
  }
  //   60% {
  //     transform: rotate(360deg);
  //   }

  //   95% {
  //     transform: rotate(0deg);
  //   }
  100% {
    transform: rotate(0deg);
  }
}

.template-partial-page-vision {
  background-color: lightgreen;

  &-group {
    width: 40%;
    background-color: yellow;
  }
}

.template-partial-page-spinner-filler {
  // background-color: rgba(255, 0, 0, 0.334);

  right: 0;
  top: 0;
  display: flex;
  justify-content: center;

  //
  position: relative;
  background: green;
  // border: 10px solid red;
  width: 100%;
  height: 80vh;
  // margin-top: -10vh;

  @include scss-mixins.for-size(tablet-landscape-up) {
    position: absolute;
    height: 100vh;
    width: 60%;
  }

  &-img-group {
    position: absolute;
    width: 60vh;
    height: 60vh;
    top: 20vh;
    margin-top: -10vh;
    @include scss-mixins.for-size(tablet-landscape-up) {
      top: 357px;
    }
  }

  &-img {
    height: 100%;
    width: 100%;
    animation-name: spin-forwards-backwards;
    // animation-delay: 0;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    // animation-iteration-count: 1;
    //
    //   animation-name: spin-clockwise-opacity, spin-clockwise;
    //   animation-delay: 2.5s, 1.5s;
    //   animation-duration: 2.5s, 7.5s;
    //   animation-iteration-count: 1, 1;
    //   animation-fill-mode: forwards, forwards;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 80vh;

    @include scss-mixins.for-size(tablet-landscape-up) {
      position: fixed;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 100vh;
      width: 60vw;
    }
    // display: none;
  }

  &-grid-item {
    height: 40vh;

    @include scss-mixins.for-size(tablet-landscape-up) {
      height: 100vh;
    }

    &:first-child {
      background-color: lightblue;
    }

    &:last-child {
      background-color: lightcoral;
      background-size: cover;
      background-position: center;
    }
  }
  &-grid-item-tint {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40vh;
    @include scss-mixins.for-size(tablet-landscape-up) {
      height: 100vh;
    }
  }
}
