@use "./scss-abstracts";
@use "./scss-mixins";

.template-partial-page-contact {
  // @include scss-mixins.for-size(tablet-landscape-up) {
    margin-bottom: -89px;
    min-height: 100%;
  // }



  &-group {
    
    position: relative;
    z-index: 1;

    @include scss-mixins.for-size(tablet-landscape-up) {
        width: 43%;
    }

    // background-color: yellow;
  }
  &-content {
    margin-bottom: 2rem;
  }

  &-grid {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    
    
    @include scss-mixins.for-size(tablet-landscape-up) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 2rem;
    }
  }

  &-grid-item {
    &:first-child {
      // background-color: lightblue;
    }

    &:last-child {
      // background-color: lightcoral;
    }
  }

  &-grid-item {
    &-logo {
      margin-bottom: 46px;
      width: 100%;
      max-width: 117px;
      height: 43px;
    }

    &:last-child {
      .template-partial-page-contact-grid-item-logo {
        margin-bottom: 23px;
        margin-top: 23px;
      }
    }
  }
}

