/*  
*
* ** Demonstration only **
*
* colours
*
*/
// @use “abstracts/”;

$scss-abstract-color-generic-yellow: #ff0;
$scss-abstract-color-generic-green: green;
//
$scss-abstract-color-star-gold: #a89864;
$scss-abstract-color-light-grey: #f8f8f8;
$scss-abstract-color-medium-grey: #f5f5f5;
$scss-abstract-color-dark-grey: #b4b4b4;
$scss-abstract-color-super-dark-grey: #001841;
$scss-abstract-color-olive: #a89864;

$scss-abstract-color-burgandy: #780d42;
$scss-abstract-color-emerald: #2a5159;
$scss-abstract-color-emerald-light: #7f979b;
