@use "../scss-mixins";
// @use "../scss-abstracts";

html,
body {
  // @include scss-mixins.for-size(tablet-landscape-up) {
    height: 100%;
    margin: 0;
  // }
}

.scaffolding {
  display: flex;
  flex-direction: column;

  &-container {
    @extend .scaffolding;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 20px 0;
    
    @include scss-mixins.for-size(tablet-landscape-up) {
      padding: 65px;
    }
  }

  &-row {
    @extend .scaffolding;
    display: flex;
    width: 100%;
    padding-top: 40px;
    flex: 1;
    box-sizing: border-box;

    @include scss-mixins.for-size(tablet-landscape-up) {
      padding-top: 180px;
    }

    //   > div {
    //     padding-top: 50px;
    //     padding-bottom: 50px;

    //     &.scaffolding-row-nopadding {
    //       padding-top: 0;
    //       padding-bottom: 0;
    //     }

    //     &.scaffolding-row-padding-top-none {
    //       padding-top: 0;
    //       // padding-bottom: 0;
    //       // background-color: orange;
    //     }

    //     &.padding-extend-top-bottom {
    //       @include scss-mixins.for-size(desktop-up) {
    //         padding-top: 0;
    //         padding-bottom: 75px;
    //       }
    //     }
    //   }
  }
}

pre {
  //border: 10px solid red;
}
